<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-lg">
      <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Login</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-4">
            <label class="block text-gray-700">Email</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", required: true %>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700">Password</label>
             <%= f.password_field :password, autocomplete: "current-password", class: "w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Enter your password", required: true %>
        </div>

        <div class="flex justify-between items-center mb-4">
            <label class="flex items-center">
              <%= f.check_box :remember_me, class: "mr-2" %>
              <span class="text-gray-600 text-sm">Remember me</span>
            </label>
            <%# <a href="#" class="text-blue-500 text-sm hover:underline">Forgot password?</a> %>
        </div>
        <%= f.submit "Log in", class: "w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition cursor-pointer" %>
      <%end%>

      <p class="text-center text-gray-600 text-sm mt-4">
        Don't have an account?
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class: "text-blue-500 hover:underline" %><br />
        <% end %>
      </p>
      <%#= render "devise/shared/links" %>
  </div>
</body>