<%if @board.errors.any? %>
  <%= turbo_stream.update 'error-message' do %>
    <span class="text-red-500"><%= @board.errors.messages[:name].join(',') %></span>
  <%end%>
<%else%>
  <%= turbo_stream.append 'boards-container' do %>
    <%= render partial: 'board', locals: { board: @board } %>
  <%end%>

  <%= turbo_stream.update 'right-section' do %>
    <%= render partial: 'boards/lists' %>
  <%end%>
<%end%>