<% if @boards.exists? %>
  <div class="flex">
    <div class="bg-gray-200 border-r-2 border-gray-300 top-0 left-0 bottom-0 fixed w-60">
      <div class="flex border-b-1 border-gray-400 py-2">
        <div class="px-3 w-15 rounded-sm"><%= image_tag "https://ui-avatars.com/api/?name=#{current_user.name}" %></div>
        <div class="my-1"><%= current_user.name %> </div>
      </div>

      <ul class="my-10">
        <% @boards.each do |board| %>
         <%= link_to board_path(board), data: { turbo_stream: true } do %>
            <li class="py-1 px-3 my-2 hover:bg-gray-300"><%= board.name %></li>
          <%end%>
        <%end%>
      </ul>
    </div>
    
    <%# all lists %>
    <%= render 'board_lists' %>
  </div>
<%end%>