<div class="flex h-screen">
  <div class="bg-gray-200 border-r-2 border-gray-300 top-0 left-0 bottom-0 w-60 h-full">
    <div class="flex border-b-1 border-gray-400 py-2">
      <div class="px-3 w-15 rounded-sm"><%= image_tag "https://ui-avatars.com/api/?name=#{current_user.name}" %></div>
      <div class="my-1"><%= current_user.name %> </div>
      <div class="ml-auto mr-1"><%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: 'text-sm text-gray-400 hover:text-red-700' %> </div>
    </div>
    
    <div class="my-5 px-3 relative" data-controller="modal">
      <button
        type="button"
        data-action="click->modal#open"
        class="rounded-md bg-sky-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-500 cursor-pointer"
        >New Board</button>

        <%= render 'form', board: Board.new %>
    </div>
    
    <ul class="my-10 px-3" id="boards-container">
      <%= render 'boards' %>
    </ul>
  </div>
  
  <%# all lists %>
  <div id="lists-container" class="z-[50]">
    <%= render 'board_lists' %>
  </div>
</div>
